<h2>SKIT</h2>

<ul>
    <li><a href="/GameServer/Connections">查看当前连接数</a></li>
    <li><a href="/GameServer/Handlers">查看客户端接口</a></li>
    <li><a href="/GameServer/DownloadProtocols">导出协议文件</a></li>
    <li><a href="/GameServer/ReloadTable">重新加载数值表格</a></li>
</ul>


